In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('AirQualityUCI.csv', sep = ';', decimal = ',')

In [3]:
#removing the last two columns from the dataframe
df = df.drop(columns = ['Unnamed: 15', 'Unnamed: 16'])

In [4]:
#now remove all of the rows from 9357th row, since rest of the rows contain null values (we got this information from dataset documentation)
df = df[:9357]
df.shape
#Now we have to find out how many -200 values are present in the dataset, so that we can replace them
df.isin([-200]).sum(axis=0)

Date                0
Time                0
CO(GT)           1683
PT08.S1(CO)       366
NMHC(GT)         8443
C6H6(GT)          366
PT08.S2(NMHC)     366
NOx(GT)          1639
PT08.S3(NOx)      366
NO2(GT)          1642
PT08.S4(NO2)      366
PT08.S5(O3)       366
T                 366
RH                366
AH                366
dtype: int64

In [5]:
#Now first replace them by null value, then replace them by the median
df = df.replace(to_replace = -200, value = np.NaN)
print(df.isin([-200]).sum(axis=0))
columns_median = df.mean(numeric_only=True)
df= df.fillna(columns_median)

Date             0
Time             0
CO(GT)           0
PT08.S1(CO)      0
NMHC(GT)         0
C6H6(GT)         0
PT08.S2(NMHC)    0
NOx(GT)          0
PT08.S3(NOx)     0
NO2(GT)          0
PT08.S4(NO2)     0
PT08.S5(O3)      0
T                0
RH               0
AH               0
dtype: int64